#cadastroAluno {
    margin: 20px;
    color: black;
    background-color: lightpink;
    
}

#todasLetras {
    color: purple;
    padding: 10px;
    border-radius: 20px;
    
    
}

#idNomeUser, #idText {
    
}

input {
    margin-bottom: 8px;
    border-radius: 10px;

    
}

input[type=text]:focus:hover {
    background-color: lightgrey;
}